---
import Main from "../../../layouts/Main.astro"
---
<Main>
    <main id="main-content" class="mt-4">
        <h1>Immigrate to Anatoli</h1>
        <p>Moving to Anatoli? Here's what you need to know.</p>
        <p></p>
    </main>
</Main>