---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Main from "../layouts/Main.astro"
const pageTitle = "Home"
---

<Main title={pageTitle}>
    <img src=`/img/parliament.webp` alt="Anatoli Parliament building" class="object-cover h-[35vh]">
    <main class="container mx-auto mt-4" id="main-content">
        <h1>Welcome to Anatoli</h1>
        <p>This is the official website of the Government of Anatoli</p>
        <div class="flex md:flex-row flex-col content-center">
            <Card>
                <div class="flex flex-col justify-between h-[100%]">
                    <div>
                        <h2>Legislation</h2>
                        <p>Get up-to-date information on the laws of Anatoli.</p>
                    </div>
                    <Button href="legislation">See Laws</Button>
                </div>
            </Card>
            <Card>
                <div class="flex flex-col justify-between h-[100%]">
                    <div>
                        <h2>Immigrate to Anatoli</h2>
                        <p>Learn how to become a permanent resident or a citizen of Anatoli.</p>
                    </div>
                    <Button href="visas-immigration/immigration">How to Apply</Button>
                </div>
            </Card>
            <Card>
                <div class="flex flex-col justify-between h-[100%]">
                    <div>
                        <h2>Visas</h2>
                        <p>Find out if you need a visa to visit Anatoli, as well as any extra entry restrictions.</p>
                    </div>
                    <Button href="visas-immigration/visas">Visa Requirements</Button>
                </div>
            </Card>
        </div>
    </main>
</Main>