---
import Main from "../../layouts/Main.astro"
import Button from "../../components/Button.astro";
---
<Main>
    <article id="main-content" class="mt-4 container">
        <h1>Immigrate to Anatoli</h1>
        <p>Anatoli does not immediately grant citizenship to individuals, except in rare circumstances. However, there are multiple ways to apply to become a permanent resident of Anatoli, which may lead you on the path to Anatoli citizenship. You can apply to become a permanent resident</p>
        <ul>
            <li>As a skilled worker</li>
            <li>As a sponsored family</li>
        </ul>
        You may also be entitled to PR status if you are
        <ul>
            <li>Stateless</li>
            <li>A former citizen of the Union of Soviet Socialist Republics by connection with Vremya</li>
        </ul>
        <section>
            <h2>Statelessness</h2>
            <p>Under server law, all stateless persons hold the status of a protected person. To apply for PR status as a stateless person, you must sufficiently prove that you are not under the consular protection of any state (except for the protections granted by Server Law).</p>
        </section>
        <section>
            <h2>Vremya</h2>
            <p>On September 10, 2022, the land of Mainland Shiftania, previously a territory of the Union of Soviet Socialist Republics, was given to Anatoli and renamed "Vremya". All citizens of the former USSR lost their citizenship when it dissolved.</p>
            <p>&nbsp;</p>
            <p>Under the <a href="/legislation/mainland-shiftania-act">Mainland Shiftania Transfer of Sovereignty Act, 2022</a>, its former citizens were automatically granted PR status by Anatoli, provided that they did not declare their intent to remain within the Soviet Confederation (now the Union of Soviet Sovereign Republics) before October 30, 2022. Such persons were then entitled to citizenship if they or their descendants were to become stateless after that date.</p>
            <p>&nbsp</p>
            <p>If you previously lived in Vremya as a citizen of the Union of Soviet Socialist Republics before September 30, 2022 and are now stateless, you may already be an Anatoli citizen. Please fill out a form 1A (below) and provide any supporting documentation to an Anatoli consular post.</p>
        </section>
        <h2>Apply Now</h2>
        <p>Fill out a form 1A at the link below, and submit this form, along with any supporting documentation, to an Anatoli consular post.</p>
        <Button href="https://docs.google.com/document/d/1meB2ChAGOPB36ihqqHzzynHJEwx_662nlEjhS0QR834/edit?usp=sharing">Download Form</Button>
    </article>
</Main>