---
import Main from "../../layouts/Main.astro";
import Button from "../../components/Button.astro";
---
<Main title="Visas and Immigration | Anatoli">
    <main class="mt-4 container" id="main-content">
        <h1>Visas and Immigration</h1>
        <p>Get the information you need here before entering Anatoli.</p>
        <h2>Visas and Entry Requirements</h2>
        <p>Passport holders of certain countries may need additional documentation before entering Anatoli, such as a visa for their particular purpose, as well as any other documentation as may be necessary during an emergency.</p>
        <p>&nbsp;</p>
        <p>Before you travel, make sure that you meet all the requirements to avoid unnecessary delays at the border.</p>
        <Button href="visas-immigration/visas">Visa Information</Button>
        <h2>Immigrate to Anatoli</h2>
        <p>Moving to Anatoli? Learn what you need to apply, and get a form 1A here.</p>
        <Button href="visas-immigration/immigration">Become an Immigrant</Button>
    </main>
</Main>