---
import Navigation from "./Navigation.astro";
---
<header class="bg-black text-white py-8">
    <div class="container flex flex-row items-center justify-evenly mx-auto">
        <a href="/"><img src="src/img/logo.svg" alt="Anatoli logo" class="w-48"></a>
        <Navigation />
    </div>
    
</header>