---
import Navigation from "./Navigation.astro";
---
<header>
    <div class="bg-gray-200 py-1">
        <div class="container mx-auto">
            <p>This is a website for the fictional nation of Anatoli on the bits & Bytes Vanilla Minecraft server. To return to the bits & Bytes Vanilla site index, please visit the following link. </p>
            <a href="https://aircs.racing">Go to aircs.racing &rarr;</a>
        </div>
    </div>
    <div class="bg-black text-white py-8">
        <div class="container flex md:flex-row flex-col items-center justify-between mx-auto">
            <div class="flex flex-row items-center">
                <a href="/anatoli-site"><img src="/anatoli-site/img/logo.svg" alt="Anatoli logo" class="w-48"></a>
                <button class="md:hidden h-[30px] ml-8" id="menu-button"><img class="max-h-full" src="/anatoli-site/img/icons/hamburger.svg" alt="Open/Close Menu"></button>
            </div>
            <Navigation />
        </div>
    </div>
    <script src="./menu.js"></script>
</header>
