---
import NavItem from "./NavItem.astro";
---

<nav>
    <ul class="flex md:flex-row flex-col content-between list-none text-lg">
        <NavItem href="/">Home</NavItem>
        <NavItem href="/legislation">Legislation</NavItem>
        <NavItem href="#">Visas and Immigration</NavItem>
    </ul>
</nav>