---
import NavItem from "./NavItem.astro";
---

<nav>
    <ul class="flex flex-row content-between list-none text-lg">
        <NavItem href="/">Home</NavItem>
        <NavItem href="#">Legislation</NavItem>
        <NavItem href="#">Visas and Immigration</NavItem>
    </ul>
</nav>