---
const { href } = Astro.props
---

<li class="mx-4"><a href={href} class="transition-[border-bottom-width] duration-100 px-4 py-2 no-underline border-[#FBC540] border-b-0 hover:border-b-4 focus:border-b-4"><slot /></a></li>