---
import Main from "../../layouts/Main.astro";
import countries from "../../json/visa-reqs.json"
import VisaBanner from "../../components/VisaBanner.astro";
export async function getStaticPaths() {
    return [
        countries.countries.map((country) => {
            return {
                params: {short: country.short},
                props: country
            };
        })
    ];
}
const { country } = Astro.props;
const { flag } = Astro.props;
---
<Main>
    <main class="mt-4" id="main-content">
        <img src={flag} alt={`Flag of ${country}`}>
        <h1>{country}</h1>
    </main>
</Main>