---
import Flagcard from "../../components/flagcard.astro";
import Main from "../../layouts/Main.astro";
---
<Main title="Visas | Anatoli">
    <main class="pt-4 container mx-auto">
        <h1>Visas and Entry Requirements</h1>
        <p>Find out if you need a visa to enter Anatoli.</p>
        <section>
            
        </section>
    </main>
</Main>